[user]
	name = aoton0029
	email = 38271764+aoton0029@users.noreply.github.com

[init]
	defaultBranch = main

[core]
	excludesfile = ~/.gitignore_global
	# autocrlf differs by OS (true on native Windows git, input on WSL/Linux) -
	# set it in ~/.gitconfig.local instead of here.

[include]
	path = ~/.gitconfig.local

[pull]
	rebase = false

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
[credential "https://github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !'C:\\Program Files\\GitHub CLI\\gh.exe' auth git-credential
